<div class="sidebar">
    <h2><i class="fa-solid fa-bars"></i>Menu</h2>
    <ul>
      <li><a routerLink="/Home"><i class="fas fa-home"></i>Home</a></li>
      <li><a routerLink="/LogIn"><i class="fa-solid fa-right-to-bracket"></i>LogIn</a></li>
      <li><a routerLink="/Register"><i class="fa-solid fa-user-plus"></i>Register</a></li>
      <li><a routerLink="/Request"><i class="fa-solid fa-code-pull-request"></i>Service Request</a></li>
      <li><a routerLink="/Contact"><i class="fa-solid fa-address-card"></i>Contact</a></li>
      <li><a routerLink="/Notification"><i class="fa-sharp fa-solid fa-bell"></i>Notification</a></li>
      
    </ul>
  </div>
