.footer-container {
    background-color: #f8f9fa;
    padding: 1px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e7e7e7;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    display: inline;
    margin: 0 10px;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #007bff;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
  