
<div class="table-wrapper">
    <h2>User List</h2> 
    <table class = "table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Action</th>
               
            </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let User of UsersD">
            <td> {{ User.userId}} </td>
            <td>  {{User.userName}} </td>
            <td> {{ User.userEmail}} </td>
            <td> {{ User.userPhoneNo}} </td>
            <td> 
            <div class="search-container">
                <button type="button"  (click)="btnUpdate(User.userId)">Update</button>&nbsp;&nbsp;
                <span class="separator">|</span>
                <button type="button" (click)="btnDelete(User.userId)">Delete</button>
              </div>
            </td>
            </tr>
        </tbody>
    </table>
</div>
