<body>
<div class="table-wrapper">
    <h2>User List</h2> 
    <table class = "table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let User of UsersD">
            <td> {{ User.userId}} </td>
            <td>  {{User.userName}} </td>
            <td> {{ User.userEmail}} </td>
            <td> {{ User.userPhoneNo}} </td>
            <td> 
            <div class="search-container">
                <button (click)="btnUpdate()">Update</button>
              </div>
            </td>
              <td> 
              <div class="search-container">
                <button (click)="btnDelete()">Delete</button>
              </div>
            </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
