
<div class="wrapper">
   

    <div class="form-box register">
        <h2>Registration</h2>
        <form action="#">
            <div class="input-box">
              
                <input type="text" required>
                <label>Username</label>
            </div>

            <div class="input-box">
                
                <input type="email" required>
                <label>Email</label>
            </div>

            <div class="input-box">
             
                <input type="password" required>
                <label>Password</label>
            </div>

            <div class="remember-forgot">
                <label><input type="Checkbox">
                    I agree to the terms & conditions</label>
            </div>
            <button (click)="btnSignUp()" class="btnLogin">Sign up</button>

        <div class="login-register">
            <p>Already have an account? <a [routerLink]="['/LogIn']" class="login-link">Sign In</a></p>
        </div>
        </form>
    </div>
</div>
